{% extends 'base.html'%}

{% block content %}
<div class="wrapper">
  <div style="text-align:center; font-size:30px;">
    <span style="font-size:200px; font-family: 'Delius Swash Caps', cursive; text-align:center;"
      class="text-white">Pitch World</span>
  </div>
  <div class="card jumbotron">
    <div class="card-body" style="text-align: center">
      <p class="card-text">
        <a href="{{url_for('main.pitches', category='product')}}"
          style="font-size:40px; color: black; font-family: 'Delius Swash Caps', cursive;">
          <br>
          Product Pitches
        </a></p>
    </div>
  </div>
  <div class="card jumbotron">
    <div class="card-body" style="text-align: center; ">

      <p><a href="{{url_for('main.pitches', category='interview')}}"
          style="font-size:40px; text-align:center; color: black; font-family: 'Delius Swash Caps', cursive;">
          <br>
          Interview Pitches
        </a></p>
    </div>
  </div>
  <div class="card jumbotron"">
        <div class=" card-body" style="text-align: center">
    <p class="card-text">
      <a href="{{url_for('main.pitches', category='promotion')}}"
        style="font-size:40px; color: black; font-family: 'Delius Swash Caps', cursive;">
        <br>
        Promotion Pitches
      </a></p>
  </div>
</div>
{% endblock %}